# Java / Kotlin / Gradle
*.class
*.log
*.log.*
hs_err_pid*
replay_pid*

# Build output
bin/
out/
build/
target/

# Gradle
.gradle/
.gradle-enterprise/
gradle-app.setting
.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.kotlin_module
.kotlin/

# Annotation processing
kapt/
generated/
generated/source/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
.factorypath
.metadata/
.apt_generated/

# VS Code
.vscode/

# OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
